<div class="wrapper">
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <h3>Brian</h3>
        </div><!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/myrequests">Admin</a>
            </li>
            <li>
                <a href="/myrequests">Pages</a>
            </li>
            <li>
                <!-- Link with dropdown items -->
                <a aria-expanded="false" data-toggle="collapse" href="#reqSubmenu">Projects</a>
                <ul class="collapse list-unstyled" id="reqSubmenu">
                    <li>
                        <a href="/request/>
                            <i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i>

                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <!-- Link with dropdown items -->
                <a aria-expanded="false" data-toggle="collapse" href="#reqSubmenuJira">Forms</a>
                <ul class="collapse list-unstyled" id="reqSubmenuJira">
                    <li>
                        <a href="/request/">
                            <i class="fa fa-arrow-circle-down fa-lg" aria-hidden="true"></i>

                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <!-- Link with dropdown items -->
                <a aria-expanded="false" data-toggle="collapse" href="#homeSubmenu2">Events</a>
                <ul class="collapse list-unstyled" id="homeSubmenu2">
                    <li>
                        <a href="/request/">
                            <i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i>

                        </a>
                    </li>
                    <a href="/request/">
                        <i class="fa fa fa-key fa-lg" aria-hidden="true"></i>

                    </a>
                </ul>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/logout">Sign Off</a>
            </li>
        </ul>
    </nav>

    <div id="rightside">
        <div id="topbar">
        </div>
        <div id="content">

