<% include partials/header %>
<% include partials/navbar %>


<ul class="flex-container">
    <li class="flex-item">
        <div id="bulletin">
            Bulletins
        </div>
    </li>
    <li class="flex-item">
        <div id="userProfile">
            User Profile
        </div>
    </li>
</ul>

<% include partials/navbar-bottom %>
<% include partials/footer %>